.q-btn {
  box-shadow: none;
  font-size: none;
}
.q-dialog {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0) !important;
}

.transitions-enter-from,
.transitions-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.transitions-enter-active,
.transitions-leave-active {
  transition: all 1s ease;
}

.transitions-zoom-enter-from,
.transitions-zoom-leave-to {
  opacity: 0;
  transform: scale(1.2);
}
.transitions-zoom-enter-active,
.transitions-zoom-leave-active {
  transition: all 1s ease;
}

.q-layout {
  box-shadow:
    0 0 15px #0ff,
    0 0 30px #0ff;
  border: 1px solid rgba(0, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.q-dialog__inner--minimized {
  padding: 0;
}
body.platform-ios .q-dialog__inner--minimized > div {
  /* width: 97%; */
  max-height: none;
}

/* desktop */
@media (min-width: 768px) {
  /* .q-dialog__inner--minimized > div {
    max-width: unset;
  } */

  body.platform-ios .q-dialog__inner--minimized > div {
    width: 100%;
  }
}
