.q-btn {
  box-shadow: none;
  font-size: none;
}
.q-overlay {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0) !important;
}

.transitions-enter-from,
.transitions-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}
.transitions-enter-active,
.transitions-leave-active {
  transition: all 1s ease;
}