@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image:
    url(../img/cosmos-1853491.jpg),
    radial-gradient(circle, #2c2b32 0%, #1c1b22 100%);
  background-size: cover, auto;
  opacity: 1;
  color: #cfd2d6;
}

.q-item,
.bg-course-list {
  color: #ccc;
  padding: 10px 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  font-size: 0.9em;
}

.q-item:hover,
.q-item:focus {
  background-color: #222244;
  color: #00ffcc;
  outline: none;
}

.q-item.active {
  background-color: #113377;
  color: #ffffff;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.q-item:focus {
  animation: pulse 1s infinite;
}

a {
  color: #00bfff;
  text-decoration: none;
  &:hover {
    color: #00ffcc;
  }
}

ol,
ul {
  text-align: left;
}
.correct {
  color: green;
  font-weight: bold;
  font-size: 15vw;
}
.incorrect {
  color: red;
  font-weight: bold;
  font-size: 15vw;
}
.question {
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  margin: 0.1em 0.1em 0.8em 0;
  box-sizing: border-box;
  text-decoration: none;
  background: #c5c5c5;
  text-align: center;
  border-radius: 5px;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.5),
    0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #00bfff;
  cursor: pointer;
}

.continueBtn {
  font-size: 1em;
  letter-spacing: 0.4em;
  background-color: #152439;
  font-family: 'Orbitron', sans-serif;
  color: #e5e5e5;
  padding-left: 10px;
}

@media all and (max-width: 10em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}
#fills {
  position: sticky;
  top: 0;
  color: white;
  word-wrap: normal;
}
#header {
  text-align: right;
  position: static;
  right: auto;
  top: auto;
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 90vw;
  max-width: 500px;
  height: 400px;
  /* height: auto; */
  transform: translate(-50%, 0%);
}
.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  border: 2px solid white;
  color: white;
  line-height: 25px;
  font-size: 22px;
  font-weight: 400;
  background-color: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape:hover {
  opacity: 50%;
}
.shape_locked {
  opacity: 50%;
}
.shape_correct {
  fill: green;
  opacity: 50%;
}
.shape_incorrect {
  fill: red;
  opacity: 50%;
}
iframe {
  border: 0;
  width: 1px;
  min-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
pre {
  text-align: left;
}
table {
  display: block;
  margin: 0;
}
tbody {
  display: inline-block;
  /* padding: 5px 0 0 15px; */
}
tbody tr td:first-child {
  text-align: left;
}
tbody th {
  padding: 10px;
}

#slide {
  width: 80vw;

  display: -webkit-box;
  /* -webkit-line-clamp: 8; */
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  overflow: hidden;
  /* margin-top: 110px; */
}
.touch {
  z-index: 2;
}
.touch::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
}
#content {
  transform: translateZ(20px);
  perspective: 500px;
}

@media (min-width: 768px) {
  .q-item {
    padding: 10px 20px;
    font-size: 1em;
  }
  button {
    padding: 0.1em 0.3em;
  }
  #slide {
    font-size: 1rem;
    margin-top: 0;
  }
}
