@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  background-image: url(../img/cosmos-1853491.jpg),
    radial-gradient(circle, #2c2b32 0%, #1c1b22 100%);
  background-size: cover, auto;
  opacity: 1;
  color: #cfd2d6;
}

.q-item,
.bg-course-list {
  background: linear-gradient(145deg, #3a3f55, #313447);
  border: 1px solid #5f6278;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.q-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.q-item:focus {
  animation: pulse 1s infinite;
}

/* a {
  color: #00ffff;
  text-decoration: underline; 
  &:hover {
    color: #ffffff; 
    text-shadow: 0 0 10px #ffffff;
  }
} */

ol,
ul {
  text-align: left;
}
.correct {
  color: green;
  font-weight: bold;
  font-size: 15vw;
}
.incorrect {
  color: red;
  font-weight: bold;
  font-size: 15vw;
}
.question {
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  /* padding: 10px 20px;
  margin: 5px; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-weight: bolder; */
  padding: 0.1em 0.3em;
  margin: 0.1em 0.1em 0.8em 0;
  /* border: 1px solid #42414d; */
  /* border: 1px solid #00bfff; */

  box-sizing: border-box;
  text-decoration: none;
  /* color: #fbfbfe; */
  background: #c5c5c5;
  /* background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%); */

  /* color: #000000; */
  /* color: #333; */
  /* letter-spacing: 0.1em; */
  /* color: #e5e5e5; */
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.15);
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1); */

  /* outline: none; */
  /* border-color: transparent; */
  border: 1px solid #00bfff;
  /* border: 1px solid #00ff00; */

  cursor: pointer;
  /* transition: background 0.3s, box-shadow 0.3s; */
  /* background: transparent; */

  /* display: inline-block;
  border: none;
  background: linear-gradient(to bottom, #3a7bd5, #3a6073);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000; */

  /* background: linear-gradient(145deg, #3a3f55, #313447);
  border: 1px solid #5f6278;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: transform 0.2s, box-shadow 0.2s;
  text-shadow: 2px 2px 4px #000000; */
}

button:hover {
  /* border-color: #00bfff; */
  /* background-color: #1e406e; */
  transform: scale(1.1);
}

.continueBtn {
  /* margin-left: -4.3em !important; */
  /* margin-top: 1em; */
  font-size: 1.1em;
  letter-spacing: 0.4em;
  /* font-weight: 900; */
  /* text-transform: uppercase; */
  background-color: #152439;
  font-family: 'Orbitron', sans-serif;
  color: #e5e5e5;
}

@media all and (max-width: 10em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}
#fills {
  position: sticky;
  top: 0;
  color: white;
  word-wrap: normal;
}
#header {
  text-align: right;
  position: static;
  right: auto;
  top: auto;
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  transform: translate(-50%, 0%);
}
.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  border: 2px solid white;
  color: white;
  line-height: 25px;
  font-size: 22px;
  font-weight: 400;
  background-color: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape:hover {
  opacity: 50%;
}
.shape_locked {
  opacity: 50%;
}
.shape_correct {
  fill: green;
  opacity: 50%;
}
.shape_incorrect {
  fill: red;
  opacity: 50%;
}
iframe {
  border: 0;
  width: 1px;
  min-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
pre {
  text-align: left;
}
table {
  display: block;
  margin: 0;
}
tbody {
  display: inline-block;
  padding: 5px 0 0 15px;
}
tbody tr td:first-child {
  text-align: left;
}
tbody th {
  padding: 10px;
}
