*, *:before, *:after { box-sizing: border-box; }
/* @media (orientation: landscape) {
  body {
    font-size: 2vw;
  }
  button {
    font-size: 2vw;
  }
  .correct {
    font-size: 6vw;
  }
  .incorrect {
    font-size: 6vw;
  }
} */

/* @media (orientation: portrait) {
  body {
    font-size: 4vw;
  }
  button {
    font-size: 4vw;
  }
  .correct {
    font-size: 14vw;
  }
  .incorrect {
    font-size: 14vw;
  }
} */

ol,ul {
  text-align: left;
}
.correct {
  color: green;
  font-weight:bold;
  font-size:15vw;
}
.incorrect {
  color: red;
  font-weight:bold;
  font-size:15vw;
}
.question{
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button {
  display: inline-block;
  padding:0.1em 0.3em;
  margin:0 0.1em 0.1em 0;
  border: 1.5px solid #d4e0f7;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  background: #141E30;
  text-align:center;
  /* transition: all 0.2s; */
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(78, 121, 141, 0.3);
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.continueBtn, .hljs, table, .container, .shape, #gaps, #fills, #text {
  animation: transitionIn 0.5s;
}
button:hover {
  border-color: blue;
  }
@media all and (max-width:10em){
  button{
    display:block;
    margin:0.2em auto;
  }
}
#fills {
  position:sticky;
  top:0;
  color: white;
  word-wrap:normal;
}
#header {
  text-align: right;
  position: static;
  right:auto;
  top:auto;
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  transform: translate(-50%, 0%);
}
.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  border: 2px solid white;
  /*border-radius: 4px;*/
  color: white;
  line-height: 25px;
  font-size: 22px;
  font-weight: 400;
  background-color: #141E30;
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape:hover {
  opacity: 50%;
}
.shape_locked {
  opacity: 50%;
}
.shape_correct {
  fill:green;
  opacity: 50%;
}
.shape_incorrect {
  fill:red;
  opacity: 50%;
}

iframe {
  border: 0;
  width: 1px;
  min-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
pre {
  text-align: left;
}
table {
  display: block;
  margin: 0;
}
tbody {
  display: inline-block;
  padding: 5px 0 0 15px;
}
tbody tr td:first-child {
  text-align: left;
}
tbody th {
  padding: 10px;
}
